{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<table class="table table-hover">
        <tr>
            <td>
                <h1>{{title}}</h1>
                <p>{{heading}}: {{master}} </p>
				<p>{{_('On the date and time') }}: {{ moment(time).format('LLL') }}</p>
                <p>{{_('If you don\'t want to do this: ') }} 
				<a href="{{ url_for('actual_schedules', username = current_user.username) }}">{{ _('Back ') }}
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a></p>
            </td>
        </tr>
    </table>
	{% if form %}
		{{ wtf.quick_form(form) }}
	<br>
	{% endif %}

{% endblock %}